.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar-links {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.nav-bar-links > div {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.nav-bar > img{
  height: 90px;
}

.flags {
  height: 30px;
  padding-left: 20px;
}

.links {
  padding-left: 15px;
}