.quiz-container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f2f2f2;
  align-content: flex-start;
}

.pokemon-image {
  height: 475px;
}

.skeleton-image {
  height: 475px;
  width: 475px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: red;
  animation: skeleton-loading 1s linear infinite alternate;
}

.answer-input {
  width: 200px;
  margin-top: 15px;
  padding: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 214px;
  justify-content: center;
  gap: 10px;
  padding-top: 5px;
}

.button-container > button {
  width: 50%;
  height: 30px;
}

.pokemon-answer {
  display: grid;
  place-items: center;
}

.pokemon-answer > a:link {
  color: blue;
  text-decoration: underline;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200deg 20% 70%);
  }

  100% {
    background-color: hsl(200deg 20% 95%);
  }
}

@media (max-width:600px) {
  .pokemon-image {
    height: 300px;
  }

  .skeleton-image {
    height: 300px;
  }
}