<div class="search-form"  >
  
    <input
      class="search-box"
      aria-describedby="search-text"
      [(ngModel)]="searchText"
      placeholder="Enter text to search pokemon"
      autofocus
      (focus)="focusInput(true)"
    />
    <div class="search-result-group" [ngStyle]="{'display': (focus) ? 'block' : 'none'}">
      <ul>
        <li
          class="search-result-item"
          *ngFor="let p of allPokemon | appFilter: searchText"
          routerLink="{{ '/pokemon/' + p.name }}"
        >
          <a class="seach-text" (click)="gotoPokemon(p.name)">{{ p.name }} </a>
        </li>
      </ul>
    </div>
  
</div>
