.pokemon-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 15px;
  background-color: #FFB300;
  padding: 1rem;
}

.pokemon-card {
  border-color: grey;
  border-style: solid;
  width: 250px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.pokemon-title {
  font-weight: bold;
  align-self: center;
}

.pokemon-title::first-letter{
  text-transform: capitalize;
}

.pokemon-image {
  height: auto;
  width: 80%;
  align-self: center;
}

.pokemon-button {
  background: none;
  border-style: inherit;
  cursor: pointer;
}