<div class="pokemon-info-container" *ngIf="pokemon.name">
  <h1>{{ pokemon.name }}</h1>
  <div class="pokemon-info">
    <div class="image-container">
      <img class="pokemon-image" src="{{ pokemon.image }}" />
    </div>
    <div class="pokemon-details">
      <p id="height"><strong>Height:</strong>{{ pokemon.height }}</p>
      <p id="weight"><strong>Weight:</strong>{{ pokemon.weight }}</p>
      <table>
        <tr>
          <td><strong>Stats</strong></td>
          <div *ngFor="let stat of pokemon.stats">
            <p class="table-text">{{ stat.stat.name }}</p>
          </div>
        </tr>
        <tr>
          <td><strong>Types</strong></td>
          <td>
            <div *ngFor="let type of pokemon.types">
              <p class="table-text">{{ type.type.name }}</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
